<style>
body {
    background-color: lightblue;
    margin:10;
}
/*For horizontal navigation bar
ul formatting*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

/*li formatting*/
li {
    float: left;
}

/*link's formatting*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
/*for home the class is active, so it gets blue color*/
.active {
    background-color: #4CAF50;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
}
div.forms {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
/*When hovering*/
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}

</style>